.frosted {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    background: inherit;
    overflow: hidden;
}

.frosted:before{
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}

.resultsContainer {
    background: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}
