.resultsContainer {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 2px grey;
}

.bookPhoto {
    margin: 10px auto 10px auto;
    width: 150px;
    height: auto;
    display: block;
    padding-top: 40px;
}

.bookPhoto:hover {
    transform: scale(1.25);
}
