.noResultsContainer {
    height: 100vh;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

.noResultsContainer h1 {
    text-align: center;
}

.noResultsImg {
    display: block;
    margin: auto;

    width: 40%;
    height: auto;
}